<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/displayedContentStyling.css">
    <title>Displayed Content</title>
</head>
<body>
    <div class="Filter">
        <form method="post">
            <select name="ChooseNewsSource" id="chooseNewsSrc">
                {% for source in sources %}}

                <option value={{source}}>{{source}}</option>

                {% endfor %}

            </select>
            <select name="Choose Country" id="chooseCountry">
                <option value="US">United States</option>
                <option value="Britain">Britain</option>
            </select>
            <select name="Choose Language" id="chooseLanguage">
                <option value="en">English</option>
            </select>
            <button type="Submit"> Submit Parameters </button>
        </form>

    </div>
    <section class="Articles">


        {% for articles in articlesFromAllSources %}

            {% for article in articles %}

            <div class="Article">
                <p> Author: <br> {{ article.author }} </p>
                <p> Content: <br> {{ article.content }} </p>
                <p> Description: <br> {{ article.description }}</p>
                <p> published At: <br> {{ article.publishedAt }}</p>
                <p> source: <br> {{ article.source }}</p>
                <p> Title: <br> {{ article.title }} </p>
                <p> Url: <br> {{ article.url }}</p>
                <p> urlToImage: <br> {{ article.urlToImage }} </p>
                <a href="fullContent.html">Click for full content</a>
            </div>
            {% endfor %}

        {% endfor %}
    </section>

</body>
</html>