<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Options</title>
</head>
<body>

    <form method="post">
        <div>
            <label>Enter Search parameters:</label>
            <input type="text" name="searchFor">
        </div>
        <div>
            <label>Enter Source:</label>
            <input type="text" name="source">
        </div>
        <div>
            <label>Enter Language:</label>
            <input type="text" name="language">
        </div>
        <div>
            <input type="checkbox" name="topHeadlines"> Get Top Headlines
            <input type="checkbox" name="getEverything"> Get Everything
        </div>
        <button type="submit">Submit Options</button>
    </form>

</body>
</html>